doctype html
html
  head
    title Car Management App
  body
    header.page
      h1 Car Manager Application
      ul.nav.navbar-nav.navbar-right
        li
          a(href="/") Home
        li
          a(href="/car") Cars
            
    br
    block content